In [4]:
import pandas as pd
from time import sleep


df = pd.DataFrame([
    ['', '', '', '', '', '', ''], 
    ['*', '_', '_', 'X', '_', '_', 'F'],
    ['', '', '', '', '', '', '']
])


for i in range(4):
    print(f'running step {i}')
    display(df)
    sleep(1)

running step 0

   0  1  2  3  4  5  6
0
1  *  _  _  X  _  _  F
2

running step 1

   0  1  2  3  4  5  6
0
1  *  _  _  X  _  _  F
2

running step 2

   0  1  2  3  4  5  6
0
1  *  _  _  X  _  _  F
2

running step 3

   0  1  2  3  4  5  6
0
1  *  _  _  X  _  _  F
2