# Sequence

In [13]:
import pandas as pd
from time import sleep

df_program = pd.DataFrame([
    ['>', 'walk()'],
    ['-', 'walk()'],
    ['-', 'jump()'],
    ['-', 'walk()']
])

df_board = pd.DataFrame([
    ['', '', '', '', '', '', ''], 
    ['*', '_', '_', 'X', '_', '_', '_'],
    ['', '', '', '', '', '', '']
])


for i in range(4):
    print(f'running step {i}')
    display(df_program, df_board)
    sleep(1)

running step 0

   0       1
0  >  walk()
1  -  walk()
2  -  jump()
3  -  walk()

   0  1  2  3  4  5  6
0
1  *  _  _  X  _  _  _
2

running step 1

   0       1
0  >  walk()
1  -  walk()
2  -  jump()
3  -  walk()

   0  1  2  3  4  5  6
0
1  *  _  _  X  _  _  _
2

running step 2

   0       1
0  >  walk()
1  -  walk()
2  -  jump()
3  -  walk()

   0  1  2  3  4  5  6
0
1  *  _  _  X  _  _  _
2

running step 3

   0       1
0  >  walk()
1  -  walk()
2  -  jump()
3  -  walk()

   0  1  2  3  4  5  6
0
1  *  _  _  X  _  _  _
2