# Sequence
In programming, sequencing refers to the concept of executing a series of instructions or statements in a specific order. Each instruction is executed one after the other, following the order in which they are written. The program starts from the first instruction and proceeds sequentially to the next, and so on, until it reaches the end. For example, if you were writing a program to make a robot move and two possible commands are available - move and jump, you might sequence the instructions as follows: [move, move, jump, move, move]

In [15]:
import pandas as pd
from time import sleep

commands = ['move()', 'jump()']

board = pd.DataFrame([
    ['-', '-', '-', '-', '-', '-'], 
    ['*', '_', '_', 'X', '_', '_'],
    ['-', '-', '-', '-', '-', '-']
])

display(board)

   0  1  2  3  4  5
0  -  -  -  -  -  -
1  *  _  _  X  _  _
2  -  -  -  -  -  -